{% extends "base.html" %}

{% block container %}
<div class="card mb-4">
    <div class="card-header">
      Ayuda
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>En este apartado encontrarás todas las apelaciones asociadas a un usuario en la base de datos</p>
      </blockquote>
    </div>
</div>
<table class="table">   
    <tr>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id multa</th>
                <th scope="col">Rut persona</th>
                <th scope="col">descripcion</th>
                <th scope="col">estado</th>
                <th scope="col">Fecha</th>
                {% if user.is_superuser %}
                <th scope="col">Aceptar</th>
                <th scope="col">Rechazar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody >
            {% for apelacion in apelaciones %}
            <tr>
                    <td>{{apelacion.id_multa_a}}</td>
                    <td>{{apelacion.run_persona_a}}</td>
                    <td>{{apelacion.descripcion}}</td>
                    <td>{{apelacion.estado}}</td>
                    <td>{{apelacion.fecha_hr_a}}</td>
                    {% if user.is_superuser %}
                    {% if apelacion.estado == 'Por solucionar'%}
                    <td>
                        <a href="{% url 'transit:acept-apelacion' apelacion.id %}">
                            <i class="fas fa-check-circle" style="color: lightblue; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:reject-apelacion' apelacion.id %}">
                            <i class="fas fa-ban" style="color: red; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    {% endif %}
                    {% endif %}
                    {% if apelacion.estado == 'Aceptado'%}
                    <td colspan="2"> Aceptada </td>
                    {% endif %}
                    {% if apelacion.estado == 'Rechazado' %}
                    <td colspan="2"> Rechazada </td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
</table>
<a href="{% url 'transit:apelacion-create' %}">
    <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"> Nueva apelacion</i>
    </button>
</a>

{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}

