{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block meta_tags %}{% endblock %}
  <title>{% block title %}Personas{% endblock %}</title>
  <script src="https://kit.fontawesome.com/686111fdd6.js" crossorigin="anonymous"></script> 

  {% block css %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}

  {% block custom_css %}
  {% endblock %}
</head>
<body >

  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a href="{% url 'transit:home' %} " class="navbar-brand">
          Municipalidad de hualqui
        </a>
      </li>
    </ul>

  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          {% if request.user.persona.tipo_persona.id == 2 or user.is_superuser %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:calle-list' %}">Calles</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:usuario-list' %}">Usuario</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:auto-list' %}">Autos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:persona-list' %}">Personas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:apelacion-list' %}">Apelaciones</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:trabajador-list' %}">Inspectores</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:multa-list' %}">Multas</a>
          </li>
          {% endif %}
          {% if request.user.persona.tipo_persona.id == 3%}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:persona-detail' request.user.persona.id  %}">Usuario</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:usuario-infracciones' request.user.persona.id %}">Multas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:usuario-apelaciones' request.user.persona.id %}">Apelaciones</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transit:usuario-autos' request.user.persona.id %}">Autos</a>
          </li>
          {% endif %}
        </ul>
        
        {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hola, {{request.user.first_name}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'auth:logout' %}">
              Cerrar sesión</a>
          </li>
        </ul>
       {% endif %}

      </div>
    </div>
  </nav>
  {% endblock %}

  <div class="container mt-4">
  {% block content_head %}
  {% endblock %}
  {% block container %}
  {% endblock %}
  {% block content_body %}
  {% endblock %}
  </div>

  {% block js %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  {% endblock %}

  {% block custom_js %}
  {% endblock %}
</body>
</html>