{% extends "base.html" %}
{% block container %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Seguro de aceptar la apelacion  {{apelacion.id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-primary" role="alert">
                Estas seguro de aceptar la apelacion <strong>{{ apelacion.id }}</strong> ?
            </div>
            <a href="{% url 'transit:usuario-list' %}"><button type="button" class="btn btn-danger">Rechazar</button></a>
            <a href="{% url 'transit:usuario-apelaciones' apelacion.id %}"><button type="submit" class="btn btn-primary">Aceptar</button></a>
        </form>
    </div>
</div>
{% endblock %}