{% extends "base.html" %}

{% block container %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Crear nueva calle</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Crear</button>
        </form>
    </div>
</div>
{% endblock %}