{% extends "base.html" %}
{% block container %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Dar de baja Calle #{{object.id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
               Seguro de dar de baja <strong>{{ object }}</strong> ?
            </div>
            <button type="submit" class="btn btn-danger">Dar de baja</button>
        </form>
    </div>
</div>
{% endblock %}