{% extends "base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Datos de la apelacion  #{{multas.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Rut infractor</dt>
      <dd class="col-sm-9">{{multas.run_infractor.run_persona}}</dd>
      <dt class="col-sm-3">Rut trabajador </dt>
      <dd class="col-sm-9">{{ multas.run_trabajador.run_persona}}</dd>
      <dt class="col-sm-3">Fecha</dt>
      <dd class="col-sm-9">{{multas.fecha_hr}}}</dd>
      <dt class="col-sm-3">Monto</dt>
      <dd class="col-sm-9">{{multas.monto}}</dd>
      <dt class="col-sm-3">Metodo pago</dt>
      <dd class="col-sm-9">{{multas.tipo_monto}}</dd>
      <dt class="col-sm-3">Calle</dt>
      <dd class="col-sm-9">{{multas.id_via_m}}</dd>
      <dt class="col-sm-3">Gravedad</dt>
      <dd class="col-sm-9">{{multas.gravedad_verbose}}</dd>
    </dl>
    </div>
</div>

{% endblock %}