{% extends "base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Datos de la calle  #{{calles.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Id via</dt>
      <dd class="col-sm-9">{{ calles.id_via}}</dd>
      <dt class="col-sm-3">Nombre calle</dt>
      <dd class="col-sm-9">{{ calles.nombre_via }}</dd>
      <dt class="col-sm-3">Sentido</dt>
      <dd class="col-sm-9">{{ calles.sentido_verbose}}</dd>
      <dt class="col-sm-3">Velocidad maxima</dt>
      <dd class="col-sm-9">{{ calles.velocidad_maxima }}</dd>
    </dl>

    </div>
</div>

{% endblock %}