{% extends "base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Datos del auto  #{{autos.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Patente</dt>
      <dd class="col-sm-9">{{ autos.patente}}</dd>
      <dt class="col-sm-3">Rut dueño</dt>
      <dd class="col-sm-9">{{ autos.run_persona_a.run_persona }}</dd>
    </dl>

    </div>
</div>

{% endblock %}