{% extends "base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Datos de la apelacion  #{{apelaciones.id}}</h5>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Id multa</dt>
        <dd class="col-sm-9">{{ apelaciones.id_multa_a.id }}</dd>
        <dt class="col-sm-3">Run persona </dt>
        <dd class="col-sm-9">{{apelaciones.run_persona_a.run_persona }}</dd>
        <dt class="col-sm-3">Descripcion</dt>
        <dd class="col-sm-9">{{ apelaciones.descripcion }}</dd>
        <dt class="col-sm-3">Estado</dt>
        <dd class="col-sm-9">{{ apelaciones.estado }}</dd>
        <dt class="col-sm-3">Fecha</dt>
        <dd class="col-sm-9">{{ apelaciones.fecha_hr_a }}</dd>
      </dl>
    </div>
</div>

{% endblock %}