{% extends "base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Datos de la persona {{personas.run_persona}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">personas Gender</dt>
      <dd class="col-sm-9">{{ personas.gender_verbose }}</dd>
      <dt class="col-sm-3">Edad</dt>
      <dd class="col-sm-9">{{ personas.age }}</dd>
      <dt class="col-sm-3">Rut</dt>
      <dd class="col-sm-9">{{ personas.run_persona }}</dd>
      <dt class="col-sm-3">Nombre</dt>
      <dd class="col-sm-9">{{ personas.user.first_name }}</dd>
      <dt class="col-sm-3">Mail</dt>
      <dd class="col-sm-9">{{ personas.user.email }}</dd>
      <dt class="col-sm-3">Estado</dt>
      <dd class="col-sm-9">{{ personas.estado_verbose }}</dd>
    </dl>

    </div>
</div>

{% endblock %}