{% extends "base.html" %}
{% load static %}
{% block partials %}

{% endblock %}

{% block content_body %}
<h1 style="text-align: center; color: black;"> Mantenedores</h1>

<div class="row">
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Personas</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor personas</h6>
              <p class="card-text">Aquí podrás revisar toda persona registrada en el sistema</p>
              <a href="{% url 'auth:register' %}" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="{% url 'transit:persona-list' %}" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Multas</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor multas</h6>
              <p class="card-text">Aquí podrás revisar toda multa registrada en el sistema</p>
              <a href="{% url 'transit:multa-create' %}" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="{% url 'transit:multa-list' %}" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
              <a href="{% url 'transit:search-multas' %}" class="card-link"><i class="fas fa-search" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Autos</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor autos</h6>
              <p class="card-text">Aquí podrás revisar todo auto registrado en el sistema</p>
              <a href="{% url 'transit:auto-create' %}" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="{% url 'transit:auto-list' %}" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Apelaciones</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor apelaciones</h6>
              <p class="card-text">Aquí podrás revisar toda apelacion registrada en el sistema</p>
              <a href="{% url 'transit:apelacion-create' %}" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="{% url 'transit:apelacion-list' %}" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Usuarios</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor usuarios</h6>
              <p class="card-text">Aquí podrás revisar todo usuario registrado en el sistema</p>
              <a href="{% url 'auth:register' %}" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="{% url 'transit:usuario-list' %}" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Inspector</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor inspector</h6>
              <p class="card-text">Aquí podrás revisar todo inspector registrado en el sistema</p>
              <a href="{% url 'auth:register' %}}" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="{% url 'transit:trabajador-list' %}" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
  </div>
{% endblock %}

{% block parciales %}
{% endblock%}
