{% extends "base.html" %}

{% block container %}
<div class="card mb-4">
    <div class="card-header">
      Ayuda
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>En este apartado encontrarás todos los autos registrados en la base de datos</p>
      </blockquote>
    </div>
</div>
<table class="table">   
    <tr>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Patente</th>
                <th scope="col">Rut dueño</th>
                <th scope="col">Detalle</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for auto in autos %}
            <tr>
                    <td>{{auto.patente}}</td>
                    <td>{{auto.run_persona_a}}</td>
                    <td>
                        <a href="{% url 'transit:auto-detail' auto.id %}">
                            <i class="fas fa-info" style="color: lightblue; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:auto-update' auto.id %}">
                            <i class="far fa-edit" style="color: yellow; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:auto-delete' auto.id %}">
                            <i class="fas fa-ban" style="color: red; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if user.is_superuser%}

<a href="{% url 'transit:auto-create' %}">
    <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"> Nuevo auto</i>
    </button>
</a>
{% endif %}

{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}

