{% extends "base.html" %}

{% block container %}
<div class="card mb-4">
    <div class="card-header">
      Ayuda
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>En este apartado encontrarás todas las calles registradas en la base de datos</p>
      </blockquote>
    </div>
</div>
<table class="table">   
    <tr>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id via</th>
                <th scope="col">Nombre via</th>
                <th scope="col">Sentido</th>
                <th scope="col">Velocidad maxima</th>
                <th scope="col">Detalle</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for calle in calles %}
            <tr>
                    <td>{{calle.id_via}}</td>
                    <td>{{calle.nombre_via}}</td>
                    <td>{{calle.sentido_verbose}}</td>
                    <td>{{calle.velocidad_maxima}}</td>
                    <td>
                        <a href="{% url 'transit:calle-detail' calle.id %}">
                            <i class="fas fa-info" style="color: lightblue; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:calle-update' calle.id %}">
                            <i class="far fa-edit" style="color: yellow; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:calle-delete' calle.id %}">
                            <i class="fas fa-ban" style="color: red; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if user.is_superuser%}

<a href="{% url 'transit:calle-create' %}">
    <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"> Nueva calle</i>
    </button>
</a>
{% endif %}

{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}

