{% extends "base.html" %}

{% block container %}
<div class="card mb-4">
    <div class="card-header">
      Ayuda
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>En este apartado encontrarás todas las multas asociadas a un usuario en la base de datos</p>
      </blockquote>
    </div>
</div>
<table class="table">   
    <tr>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Rut infractor</th>
                <th scope="col">Rut trabajador</th>
                <th scope="col">Fecha y hora</th>
                <th scope="col">Monto</th>
                <th scope="col">Metodo pago</th>
                <th scope="col">Nombre calle</th>
                <th scope="col">gravedad</th>
                {% if user.is_superuser %}
                <th scope="col">Detalle</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for multa in multas %}
            <tr>
                    <td>{{multa.run_infractor.run_persona}}</td>
                    <td>{{multa.run_trabajador.run_persona}}</td>
                    <td>{{multa.fecha_hr}}</td>
                    <td>{{multa.monto}}</td>
                    <td>{{multa.tipo_monto}}</td>
                    <td>{{multa.id_via_m}}</td>
                    <td>{{multa.gravedad_verbose}}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'transit:multa-detail' multa.id %}">
                            <i class="fas fa-info" style="color: lightblue; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:multa-update' multa.id %}">
                            <i class="far fa-edit" style="color: yellow; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:multa-delete' multa.id %}">
                            <i class="fas fa-ban" style="color: red; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if user.is_superuser%}

<a href="{% url 'transit:multa-create' %}">
    <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"> Nueva multa</i>
    </button>
</a>
{% endif %}
{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}

