{% extends "base.html" %}

{% block container %}
<div class="card mb-4">
    <div class="card-header">
      Ayuda
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>En este apartado encontrarás todos los usuarios registrados en la base de datos</p>
      </blockquote>
    </div>
</div>
<table class="table">   
    <tr>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Rut</th>
                <th scope="col">Estado</th>
                <th scope="col">Consultar infracciones</th>
                <th scope="col">Consultar apelaciones</th>
                <th scope="col">Detalle</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Dar de baja</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr>
                    <td>{{persona.user.first_name}}</td>
                    <td>{{persona.user.last_name}}</td>
                    <td>{{persona.age}}</td>
                    <td>{{persona.run_persona}}</td>
                    <td>{{persona.estado_verbose}}</td>
                    <td>
                        <a href="{% url 'transit:usuario-infracciones' persona.id %}">
                            <i class="fas fa-info" style="color: lightblue; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:usuario-apelaciones' persona.id %}">
                            <i class="fas fa-info" style="color: lightblue; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:persona-detail' persona.id %}">
                            <i class="fas fa-info" style="color: lightblue; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:persona-update' persona.id %}">
                            <i class="far fa-edit" style="color: yellow; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'transit:persona-delete' persona.id %}">
                            <i class="fas fa-ban" style="color: red; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if user.is_superuser %}
<a href="{% url 'auth:register' %}" class="">
    <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"> Nueva persona</i>
    </button>
</a>
{% endif %}
{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}

