{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
Crear usuario
{% endblock %}
{% block content_head %}
<!--Titulo-->
<div class="row round-borderform">
    <div class="col">
        <h2>Buscar multas</h2>
        <!--Fin titulo-->
        {% endblock %}
        {% block content_body %}
        <!--Formulario-->
        {% bootstrap_messages %}
        <form class="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Buscar
            </button>
            {% endbuttons %}
        </form>
        <!--Fin formulario-->
    </div>
</div>
{% endblock %}