{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
Información de tu Perfil
{% endblock %}
{% block content_head %}
<!--Titulo-->
<div class="row round-borderform mt-5 mb-5">
    <div class="col">
        <h2>Cambiar Contraseña</h2>
        <!--Fin titulo-->
        {% endblock %}
        {% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'auth:register' %}">Perfil</a></li>
        {% endblock %}
        {% block content_body %}
        {% bootstrap_messages %}
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Cambiar contraseña
            </button>
            {% endbuttons %}
        </form>

    </div>
</div>
{% endblock %}