{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}
Login Usuario
{% endblock %}
{% block content_head %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form class="form-signin" method="POST">{% csrf_token %}
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">User login</h1>
                {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-label-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                    autofocus>
                <label for="username">Username</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required>
                <label for="password">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recuérdame
                </label>
            </div>
            <a href="{% url 'auth:register' %}">Registrarse</a>
            <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
        </form>
    </div>
    <div class="col-3"></div>




{% endblock %}
